*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(img/img1.jpg);
}
.container{
    width: 600px;
    height: 500px;
    background-image: url(img/img1.jpg);
    margin-left: 330px;
    margin-top: 70px;
    padding:20px;
    padding-top: 140px;
}
.button{
    width: 70%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    
}
#decroment{
width: 120px;
height: 40px;
background-color: #070785;
border-radius: 5px 5px 5px 5px;
color: white;
}
#incroment{
    width: 120px;
    height: 40px;
    background-color: #070785;
    border-radius: 5px 5px 5px 5px;
    color: white;   
}
h1{
    margin-left: 230px;
    font-size: 130px;
}